In [1]:
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns
import plotly as plt
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

%matplotlib inline
cf.go_offline()

def enable_plotly_in_cell():
  import IPython
  from plotly.offline import init_notebook_mode
  display(IPython.core.display.HTML('''<script src="/static/components/requirejs/require.js"></script>'''))
  init_notebook_mode(connected=False)

In [8]:
responses=pd.read_csv("responses.csv",engine='python')

In [9]:
responses

,Age_Range,All Tests,Last_Test,Is_Academic,Intensity,English_Accomplish,Hebrew_Accomplish,Math_Accomplish,Civil,Lit_1,Lit_2,History,Math_Level,Math_Level3,Math_Level3_4
0,23-28,Yes,5-10,yes,10.0,4.0,3.0,4.0,0.0,3.0,0.0,השואה,3.0,4.0,NaN
1,23-28,Yes,5-10,yes,8.0,5.0,4.0,4.0,3.0,4.0,2.0,"מלחמת העולם השניה, הקמת המדינה, עליות למדינה, ...",4.0,NaN,4.0
2,20-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23-28,Yes,5-10,yes,10.0,4.0,3.0,3.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN
4,23-28,Yes,5-10,yes,6.0,5.0,3.0,3.0,2.0,3.0,2.0,"גרמניה הנאצית, מלחמת העולם השניה, האימפריה העו...",3.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,18-20,Yes,1-3,NaN,7.0,5.0,3.0,4.0,1.0,2.0,2.0,NaN,5.0,NaN,1.0
95,18-20,Yes,5-10,yes,7.0,4.0,3.0,2.0,1.0,3.0,2.0,"יהדות בגדד, מלחמת העולם השנייה, מלחמת העולם הר...",3.0,4.0,NaN
96,18-20,Yes,1-3,NaN,7.0,3.0,5.0,4.0,5.0,8.0,4.0,"לאום,לאומיות,דמוקרטיה,",5.0,NaN,3.0
97,18-20,Yes,1-3,NaN,10.0,5.0,2.0,3.0,2.0,10.0,8.0,NaN,3.0,2.0,NaN
98,18-20,Yes,3 month - 1 year,NaN,5.0,5.0,3.0,5.0,0.0,3.0,0.0,"תנועת המרי העברי, מלחמת העצמאות, מלחמת העולם ה2",4.0,NaN,5.0